.titulos{
    font-family: 'Nerko One', cursive;
}

.normal{
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-family: 'Nerko One', cursive;
}


h2{
    font-family: 'Nerko One', cursive;
}

h5{
    font-family: 'Noto Sans', sans-serif;
}

